<div align="center">
  <h3>About Charlie</h3>
  <img src="https://media.licdn.com/dms/image/C4D03AQEXH4K40AtniQ/profile-displayphoto-shrink_200_200/0?e=1536796800&v=beta&t=8D0c1CX1jN4S3MMJ5PfpecGaAkc4BfWnyTB9quoXzHo" class="img-responsive" alt="Cinque Terre">
  <P>Software Engineer</P>
</div>



